@model List<Skill>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
}

<br />
<br />
<div>
    <table class="table table-hover">
        <tr>
            <th>No</th>
            <th>Skill Name</th>
            <th>Skill Score</th>
            <th>Detele</th>
            <th>Update</th>
        </tr>
        @foreach(var item in Model)
        {
            count++;
            <tr>
                <td>@count</td>
                <td>@item.SkillName</td>
                <td>@item.SkillScore</td>
                <td><a href="/Skill/DeleteSkill/@item.SkillID/" class="btn btn-danger">Delete</a></td>
                <td><a href="/Skill/UpdateSkill/@item.SkillID/" class="btn btn-success">Update</a></td>
            </tr>
        }
    </table>
    <a href="/Skill/CreateSkills/" class="btn btn-primary">Add New Skill</a>
</div>

