@model Skill

@{
    ViewData["Title"] = "UpdateSkill";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<br />
<h1>Update Skill</h1>
<form method="post">
    <label>ID</label>
    <input type="text" class="form-control" asp-for="SkillID"/>
    <br />
    <label>Skill Name</label>
    <input type="text" class="form-control" asp-for="SkillName" />
    <br />
    <label>Skill Score</label>
    <input type="number" class="form-control" asp-for="SkillScore" />
    <br />
    <button class="btn btn-primary">Update Skill</button>
</form>


