@model ResumeProject_MongoDb_.DAL.Entities.About

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<br />

<div class="container">
    <form method="post">
        <label>Title</label>
        <input type="text" asp-for="Title" class="form-control" />
        <br />
        <label>Description</label>
        <input type="text" asp-for="Description" class="form-control" />
        <br />
        <button class="btn btn-primary">Create New Person</button>
    </form>
</div>
